/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}




/* ESERCIZIO 2 */

.ex-2-square:active {
  width: 100%;
  background-color: violet;
  border: 5px solid;
}

.ex-2-square {
  transition: 3.5s;
}
/* FINE ESERCIZIO 2 COMMIT N.2*/




/* INIZIO ESERCIZIO 3  */

.ex-3-square:hover {
  border-radius: 50%;
  background-color: blue;
  border: 3.5rem solid red;
}

.ex-3-square {
  transition: 4s;
}
/* FINE ESERCIZIO 3  COMMIT N.3*/




/* INIZIO ESERCIZIO 4 */

.ex-4-square:hover {
  opacity: 0%;
}

.ex-4-square {
  transition: 4s;
}
/* FINE ESERCIZIO 4  COMMIT N.4*/




/* INIZIO ESERCIZIO 5 */

.ex-5-square:hover {
  transform: scale(1.5);
}

.ex-5-square {
  transition: 2s;
}

.ex-5-square:active {
  transform: scale(0.10);
}
/* FINE ESERCIZIO 5  COMMIT N.5*/



/* INIZIO ESERCIZIO 6 */

.ex-6-img:hover {
  filter: grayscale();
}

.ex-6-img {
  transition: 1s;
}

/* FINE ESERCIZIO 6  COMMIT N.6*/


/* INIZIO ESERCIZIO 7 */

.ex-7-img:hover {
  filter: contrast(400%) blur(0.2rem);   
  transform: scale(1.1);
}

.ex-7-img {
  transition: 3s;
}

/* FINE ESERCIZIO 7  COMMIT N.7*/




/* INIZIO ESERCIZIO 8 */

.ex-8-img:hover {
  filter: contrast(400%) blur(0.2rem);   
  transform: scale(0.9);
  border-radius: 10rem;
  border: 1rem solid;
}

.ex-8-img {
  transition: 3s;
}

/* FINE ESERCIZIO 8  COMMIT N.8*/


/* INIZIO ESERCIZIO 9 */

.ex-9-img:hover {
  filter: contrast(400%) blur(0.2rem) hue-rotate(90deg);   
  transform: scale(1.5);
  border-radius: 10rem;
}

.ex-9-img {
  transition: 3s;
}

/* FINE ESERCIZIO 9  COMMIT N.9*/

/* INIZIO ESERCIZIO 10 */


.ex-10-icon {
  animation: rotate 0.3s linear infinite;
}

@keyframes rotate {
  0% {
      transform: rotate(-360deg);
  }
}

/* FINE ESERCIZIO 10 COMMIT N.10 */

/* INIZIO ESERCIZIO 11 */

.ex-11-icon:hover {
  animation: rotate270 2s linear infinite;
}

@keyframes rotate270 {
  80% {
      transform: rotate(-270deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* FINE ESERCIZIO 11 COMMIT N.11 */