/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}



/* ESERCIZIO 2 */

.ex-2-square:active {
  width: 100%;
  background-color: violet;
  border: 5px solid;
}

.ex-2-square {
  transition: 3.5s;
}
/* FINE ESERCIZIO 2 COMMIT N.2*/


/* INIZIO ESERCIZIO 3  */

.ex-3-square:hover {
  border-radius: 50%;
  background-color: blue;
  border: 3.5rem solid red;
}

.ex-3-square {
  transition: 4s;
}
/* FINE ESERCIZIO 3  COMMIT N.3*/

/* INIZIO ESERCIZIO 4 */

.ex-4-square:hover {
  opacity: 0%;
}

.ex-4-square {
  transition: 4s;
}
/* FINE ESERCIZIO 4  COMMIT N.4*/

